<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiwei.xiangxu.dao.classses.IClassDao">
    <select id="getAll" resultType="com.xiwei.xiangxu.entity.Classes">
        select * from xx_class
    </select>
    <select id="getOneById" parameterType="String" resultType="com.xiwei.xiangxu.entity.Classes">
        select * from xx_class where classId=#{classId} and classGradeId=#{classGradeId}
    </select>
</mapper>