<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiwei.xiangxu.dao.classses.IClassActivityDao">
    <select id="getAll" parameterType="String" resultType="com.xiwei.xiangxu.entity.ClassActivity">
        select * from xx_class_activity where classId=#{classId} and classGradeId=#{classGradeId}
    </select>
    <select id="getOneById" parameterType="String" resultType="com.xiwei.xiangxu.entity.ClassActivity">
        select * from xx_class_activity where classActivityId=#{classActivityId}
    </select>
    <insert id="insertOne" parameterType="com.xiwei.xiangxu.entity.ClassActivity" >
        insert into xx_class_activity values(#{classActivityId},#{classActivityName},#{classActivityDesc},#{classActivityTime},#{classActivityAddr},#{classActivityPublisher},#{classActivityImag},#{classId},#{classGradeId})
    </insert>
    <delete id="deleteOne" parameterType="String" >
        delete from xx_class_activity where classActivityId=#{classActivityId}
    </delete>
</mapper>